<html>
<head>

</head>
<body>
<div>
    <form action="{% url "customize_user" %}" method="post">
    {% csrf_token %}
        <label for="us1">Username:</label><input id="us1" name="username" value={{ username }} required type="text">
        <br>
        <label for="us5">Email:</label><input    id="us5" name="email"    value={{ email }}    required type="text">
        <br>
        <label for="us6">Province:</label><input id="us6" name="province" value={{ province }} required type="text">
        <br>
        <label for="us7">City:</label><input     id="us7" name="city"     value={{ city }}     required type="text">
        <br>
        <label for="us8">Address:</label><input  id="us8" name="address" value={{ address }}   required type="text">
        <br>
        {% if type  %}
        <label for="us9">CharityName:</label><input  id="us9" name="charity_name" value={{ name }}  required type="text">

        {% else %}


        <label for="us10">FirstName:</label><input id="us10" name="first_name"  value={{ first_name }} required type="text">
        <br>
        <label for="us11">LastName: </label><input id="us11" name="last_name"   value={{ last_name }}  required type="text">
        <br>
        <label for="us12">Gender:   </label><input id="us12" name="gender"      value={{ gender }} required type="text">
        <br>
        <label for="us13">Age:      </label><input id="us13" name="age"         value={{ age }}  required type="number">


        {% endif %}
        <br>


        <input type="submit" value="Submit" >
    </form>
</div>
</body>
</html>
